h2 {
  color: yellow;
  font-size: 25px;
  font-style: italic;
}

h3 {
  color: yellow;
  font-size: 25px;
  font-style: italic;
}

p {
  color: yellow;
  font-size: 25px;
  font-style: italic;
}

body {
  background-color: pink;
}